#commonBanner {
  background-image: url(../../../src/images/common_banner1.jpg);
  // background-image: url(../../../../images/footer__light.png);
  padding: 90px 0;
}

.commonBannerText {
  text-align: center;
  color: white;
}

.commonBannerText h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0px;
}

.commonBannerText ul {
  display: flex;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  margin-bottom: 0px;
}

.commonBannerText a {
  color: white;
  text-decoration: none;
  &:hover {
    color: #1c8348;
  }
}

.commonBannerText ul li.slash {
  padding: 0 10px;
}

.commonBannerText ul li.active {
  color: #1c8348;
}
